@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f5f2bd;
  --color-secondary: #ff1282;
  --color-tertiary: #f7fa09;
  --color-quarternary: #1e1e1e;
}

body {
  font-family: var(--font-fonarto), Arial, sans-serif;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Edge */
}
