@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fcfbf8;
  --color-secondary: #c79a42;
  --color-tertiary: #e7e6e4;
  --color-quarternary: #1e1e1e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-fonarto), Arial, sans-serif;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, Edge */
}

.my-gradient-bg {
  background: linear-gradient(to bottom, #fffad0 0%, #eedbab 35%, #f6f0e4 100%);
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 0 !important;
  /* remove white ring */
}

.vertical-timeline-element-content.bounce-in {
  padding-bottom: 0 !important;
}

.vertical-timeline-element {
  margin: 3rem 0 !important;
  /* no extra vertical space at all */
  /* or e.g.: margin: 0.5rem 0 !important; if you want a small gap */
}

.vertical-timeline::before {
  height: 80% !important;
  /* your desired line length */
  top: 8% !important;
  /* centers it vertically */
}

.clipCard {
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    20px 100%,
    0 calc(100% - 20px)
  );
}

.imagePolygonWrapper {
  clip-path: polygon(
    0 0,
    calc(100% - 6%) 0,
    100% 6%,
    100% 100%,
    6% 100%,
    0 calc(100% - 6%)
  );
}

.clipNavbar {
  clip-path: polygon(
    12px 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%,
    0 12px
  );
}

video::-webkit-media-controls {
  display: none;
}

.whiteTextBorder {
  -webkit-text-stroke: 1px white;
}

.blackTextBorder {
  -webkit-text-stroke: 1px black;
}
